#top {
    position: relative;
    background: #036fab;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #000;
    opacity: 0.7;
    padding-top: 5px;
    padding-left: 5px;
    color:#fff;
}

.center_content {
    font-family: Georgia, Arial, sans-serif;
    color: #000;
}



