.wrapForm{
    padding: 10px;
    padding-bottom: 15px;
    color: #fff;
    
}
.outputLabel {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.titre {
    text-align: center;
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 5px; 
}
.erreur {
    margin: auto;
    margin-bottom: 10px;
    padding-left: 30px;
}

.contentSign {
    margin: auto;
    width: 340px;
    border-radius: 20px;
}
#contentSignIn {
    background: #9b59b6;
}

#contentSignUp {
    background: #e67e22;
}
