
.content {
    margin: 50px auto;
    width: 340px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    font-family: Georgia;
    color: #fff;
}

.wrapForm{
    padding: 10px; 
}

.outputLabel {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.titre {
    text-align: center;
}
.erreur {
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}

#contentSignIn {
    background: #9b59b6;
}

#contentSignUp {
    background: #e67e22;
}

#contentSignUp {
    display: none;
}

