.contentSign {
    margin: auto;
    width: 340px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

.wrapForm{
    padding: 10px;
    padding-bottom: 15px;
    color: #fff;
     
    
}
.outputLabel {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.center{
     text-align: center;
}

.titre {
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 5px; 
}

.alert {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    list-style: none;
   
}

#contentSignIn {
    background: #9b59b6;
   
}

#contentSignUp {
    background: #e67e22;
}
