body {
    background : #fff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #fff;
    margin-top : 10px;
    padding : 0px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #fff;
}

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 5px #fff inset, 2px 2px 2px #000;
}

#top h1{
     font-size:  25px;
     margin-bottom: 10px;
}

#bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #000;
    opacity: 0.7;
    height: 40px;
    line-height: 40px;
    color:#fff;
    text-align: center;
    box-shadow: 0px -10px 10px #AFAFAF;
}

.center_content {
    font-family: Georgia, Arial, sans-serif;
    color: #000;
    padding-left: 10px;
}

.contentSign {
    margin: auto;
    width: 340px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

.wrapForm{
    padding: 10px;
    padding-bottom: 15px;
    color: #fff;
     
    
}
.outputLabel {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.center{
     text-align: center;
}

.titre {
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 5px; 
}

.alert {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    list-style: none;
   
}

#contentSignIn {
    background: #9b59b6;
   
}

#contentSignUp {
    background: #e67e22;
}
